header {
  padding: 3rem 0;
  text-align: center;

  .site-logo {
    display: inline-block;
    line-height: 0;
  }

  h2 {
    color: lighten($light-color, 10);
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-shadow: $text-shadow;
  }
}