body {
  background-image: url("/assets/img/bg.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  overflow: auto !important;
  position: relative;
}

#results-container {
  margin-bottom: 3rem;
  z-index: 2;
}