body {
  font-family: 'PT Serif', serif;
  color: $text-color;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

input, select, textarea, button {
  font-family: inherit;
  font-size: inherit;
}

h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.2;
}